<!DOCTYPE html>
<html>
    <head>
        <title> REACT workshop Minsk 2017 </title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <!-- STYLES-->
    <% include styles %>
    <!-- STYLES END-->

    <body class="loading">
        <div id="main-container">

        </div>
    </body>

    <!-- SCRIPTS-->
    <% include variables %>
    <% include scripts %>
    <!-- SCRIPTS END-->

</html>